/*/Map*/
#section-map {
	padding: 30px 10px;
}
/*/. Map*/
.huge-text {
	font-size: 72px;
}

.minibox h1{
	font-size: 59px;
}


.header {
  padding-bottom: 60;
  padding-top: 60;
  background-color: #057648;
}

.green{
  
  background-color: #057648;
}


.blur {	
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

/**
 * Profile styling
 */
.profile-header {
	background-color: #bdc3c7;
	padding: 50px 0;
}

.profile-name {
	font-size: 52px;
	font-weight: 900;
}

.profile-bio p{
	padding: 20px;
}

.profile-img {
	border: solid 10px #ffffff;
	box-shadow: 4px 9px 29px 0px rgba(0,0,0,0.41);
}
.box-shadow {
	box-shadow: 5px, 3px, 0, 0;
}

.margin-top{
  margin-top: 70px;
}
/*/. Profile*/

/*a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}*/